<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <style>

        .action-links {
            display: inline-block;
            margin-bottom: 10px;
            background-color: deepskyblue;
            padding: 5px 10px;
            border-radius: 5px;
            color: black;
        }

        .action-links:hover{
            color: darkred;
        }
    </style>
</head>
<body>
<div class="container-fluid text-center">
    <div ><a onclick="gobackhome()">Home</a></div>
    <div><h1>Task List</h1></div>
    <div th:if="${message}" class="alert alert-success" role="alert">
        <span th:text="${message}"></span>
    </div>

    <div>
        <table class="table table-bordered">
            <thead >
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>DESCRİPTİON</th>
                <th>
                    <div class="action-links">
                        <a class="h3" th:href="@{/Task/create}">Add Task</a>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${taskList}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.name}"></td>
                <td th:text="${task.description}"></td>
                <td>
                    <div class="action-links">
                        <a class="h4 " th:href="@{'/Task/edit/' + ${task.id}}" >EDIT</a>
                    </div>
                    <div class="action-links">
                        <a class="h5" th:href="@{'/Task/delete/' + ${task.id}}" >DELETE</a>
                    </div>
                    <div class="action-links">
                        <a class="h5" th:href="@{'/Task/TaskTaskerList/' + ${task.id}}" >MAKE A TASKER</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    function gobackhome(){
        window.location='/taskindex';
    }

</script>
</body>
</html>
