<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasker List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <style>

        .action-links {
            display: inline-block;
            margin-bottom: 10px;
            background-color: deepskyblue;
            padding: 5px 10px;
            border-radius: 5px;
            color: black;
        }

        .action-links:hover{
            color: darkred;
        }
    </style>

</head>
<body>

<div align="center">
    <div ><a onclick="gobackhome()">Home</a></div>
    <h1>Tasker List</h1>
    <div th:if="${message}" class="alert alert-success" role="alert">
        <span th:text="${message}"></span>
    </div>
    <table border="1" class="table table-bordered">
        <thead>
        <tr>
            <th>Tasker ID</th>
            <th>Employee Name</th>
            <th>Task Name</th>
            <th>Date</th>
            <th>
                <div class="action-links">
                    <a class="h3" th:href="@{/tasker/add}">Add tasker</a>
                </div>
            </th>
        </tr>
        </thead>
        <tbody >
        <tr th:each="tasker : ${taskers}">
            <td th:text="${tasker.getId()}"></td>
            <td>
                <span th:if="${tasker.employee != null}" th:text="${tasker.employee.getName()}">Employee Name</span>
                <span th:unless="${tasker.employee != null}">Unknown Employee</span>
            </td>

            <td>
                <span th:if="${tasker.task != null}" th:text="${tasker.getTask().getName()}">Task Name</span>

            </td>
            <td th:text="${tasker.date}"></td>
            <td>
                <div class="action-links"> <a th:href="@{'/tasker/update/' + ${tasker.id}}">Edit</a></div>
                <div class="action-links"><a th:href="@{'/tasker/delete/' + ${tasker.id}}">Delete</a></div>
            </td>
        </tr>

        </tbody>
    </table>
</div>
<script type="text/javascript">
    function gobackhome(){
        window.location='/taskerindex';
    }

</script>
</body>
</html>
